<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ActivityContext" connectionString="metadata=res://*/UserContext.csdl|res://*/UserContext.ssdl|res://*/UserContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PublicsyNpwdb01;initial catalog=SAPDACTIVITY;user id=sapdgis;password=samdev;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>